body,
html {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0.7),
    rgba(255, 0, 0, 0.8),
    rgba(0, 0, 0.7)
  );
}

@media only screen and (max-width: 600px) {
  .pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.125rem;
    font-family: "Courier New", Courier, monospace;
    list-style: none;

    cursor: pointer;
    gap: 1.5625rem;

    margin-top: 2.5rem;

    color: white;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .pages {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5625rem;
    font-family: "Courier New", Courier, monospace;
    list-style: none;

    cursor: pointer;
    gap: 2.1875rem;

    color: white;
  }
}

@media only screen and (min-width: 1025px) {
  .pages {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.875rem;
    font-family: "Courier New", Courier, monospace;
    list-style: none;

    cursor: pointer;
    gap: 2.1875rem;

    color: white;
  }
}
