.conteiner {
  background-color: rgba(0, 0, 0, 0.15);

  padding: 2.5rem 2.5rem;
}

.desafioFinal {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}

.desafioFinal img {
  transition: transform 0.3s ease;
}

.desafioFinal img:hover {
  transform: scale(1.1);

  border: 1px solid transparent;
  border-radius: 0.625rem;
  box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
  z-index: -1;
}

.about p {
  font: 300 large italic;
  width: 25rem;
  color: rgb(213, 204, 204);
}

.repository {
  display: flex;
  flex-direction: column;

  margin-bottom: 1.875rem;
  gap: 1.25rem;
}

.repository a {
  transition: transform 0.3s ease;

  cursor: pointer;
  text-decoration: none;
  color: rgb(238, 240, 119);
}

.repository a:hover {
  transform: scale(1.1);
}

.skills {
  padding-bottom: 1.25rem;
}

.skills p {
  margin-left: 1.875rem;
  padding-bottom: 3.75rem;

  font: 300 large italic;
  width: 25rem;
  color: rgb(213, 204, 204);
}
