.aboutMe {
  position: relative;
  font-family: "Courier New", Courier;
  font-style: italic;
  font-size: x-large;
  text-align: center;

  margin: 1.875rem auto;
  max-width: 80%;

  color: #dcd746;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  white-space: nowrap;
  overflow: hidden;
  border-right: 0.625rem;
  animation: escrevendo 2s steps(20, end) infinite;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 1rem auto;
  
  font-family: "Courier New", Courier;
  font-style: italic;
  font-size: large;

  text-align: justify;
  color: rgb(233, 234, 226);
}

.skills {
  font-family: "Courier New", Courier;
  font-style: italic;
  font-size: x-large;
  text-align: center;

  margin: 2.5rem auto;
  padding-bottom: 2.5rem;

  transition: transform 0.3s ease;
  color: white;
}

.skills:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  transition: transform 0.3s ease;
}

footer img:hover {
  transform: scale(1.1);
}

.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2rem;
}

.frontEnd,
.backEnd,
.tools {
  margin: 1rem;
  text-align: center;
}

.frontEnd p,
.backEnd p,
.tools p {
  font-family: "Courier New", Courier;
  font-style: italic;
  font-size: large;
  color: white;
}

@keyframes escrevendo {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}

@media (max-width: 1024px) {
  .aboutMe {
    font-size: large;
    max-width: 90%;
  }

  .text {
    font-size: medium;
    max-width: 90%;
  }

  .skills {
    font-size: large;
  }
}

@media (max-width: 768px) {
  .aboutMe {
    font-size: medium;
  }

  .text {
    font-size: small;
  }

  .skills {
    font-size: medium;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .aboutMe {
    font-size: small;
  }

  .text {
    font-size: small;
    text-align: center;
  }

  .skills {
    font-size: small;
  }
}
