.aboutMe {
  position: relative;

  font-family: "Courier New", Courier;
  font-style: italic;
  font-size: x-large;

  margin: 1.875rem 43.75rem;

  color: #dcd746;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  overflow: hidden;
  border-right: 0.625rem;
  white-space: nowrap;
  animation: escrevendo 2s steps(20, end) infinite;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 37.5rem;

  font-family: "Courier New", Courier;
  font-style: italic;
  font-size: large;

  text-align: center;
  text-decoration: solid;
  text-align: justify;

  margin-left: 31.25rem;

  color: rgb(233, 234, 226);
}

.skills {
  font-family: "Courier New", Courier;
  font-style: italic;
  font-size: x-large;

  margin: 2.5rem 43.75rem;
  padding-bottom: 2.5rem;

  transition: transform 0.3s ease;
  color: white;
}

.skills:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer img {
  transition: transform 0.3s ease;
}

.footer img:hover {
  transform: scale(1.1);
}

.frontEnd,
.backEnd,
.tools {
  position: absolute;

  margin-top: 12.5rem;
  padding-bottom: 3.125rem;
}

.frontEnd {
  margin-right: 50rem;
}

.backEnd {
  margin-left: 1.25rem;
}

.tools {
  margin-left: 50rem;
}

.frontEnd p,
.backEnd p,
.tools p {
  font-family: "Courier New", Courier;
  font-style: italic;
  font-size: large;

  color: white;
}

.frontEnd p {
  margin-left: 4.375rem;
}

.backEnd p {
  margin-left: 1.25rem;
}

@keyframes escrevendo {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
