@media only screen and (min-width: 1025px) {
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;

    margin: 15.625rem 12.5rem;

    color: white;
  }

  .name {
    font-weight: bold;

    color: #dcd746;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }

  .profession {
    overflow: hidden;
    border-right: 0px;
    white-space: nowrap;
    animation: escrevendo 2s steps(20, end) infinite;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1.25rem;
  }

  .github {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .github:hover {
    transform: scale(1.1);
  }

  .linkdlin {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .linkdlin:hover {
    transform: scale(1.1);
  }

  @keyframes escrevendo {
    from {
      width: 0;
    }
    to {
      width: 34%;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: x-large;
    font-family: "Courier New", Courier, monospace;

    margin: 18.75rem 6.25rem;

    color: white;
  }

  .name {
    font-weight: bold;

    color: #dcd746;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }

  .profession {
    overflow: hidden;
    border-right: 0.625rem;
    white-space: nowrap;
    animation: escrevendo 2s steps(20, end) infinite;
  }

  .footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 6.25rem;
    margin-left: 15.625rem;

    gap: 1.25rem;
  }

  .github {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .github:hover {
    transform: scale(1.1);
  }

  .linkdlin {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .linkdlin:hover {
    transform: scale(1.1);
  }

  @keyframes escrevendo {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 600px) {

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: x-large;
    font-family: "Courier New", Courier, monospace;

    margin: 18.75rem 3.125rem;

    color: white;
  }

  .name {
    font-weight: bold;

    color: #dcd746;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }

  .profession {
    overflow: hidden;
    border-right: 0.625rem;
    white-space: nowrap;
    animation: escrevendo 2s steps(20, end) infinite;
  }

  .footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
    margin-left: 9.375rem;

    gap: 1.25rem;
  }

  .github {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .github:hover {
    transform: scale(1.1);
  }

  .linkdlin {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .linkdlin:hover {
    transform: scale(1.1);
  }

  @keyframes escrevendo {
    from {
      width: 0;
    }
    to {
      width: 95%;
    }
  }
}
